html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	
	overflow-y: scroll;
}

main {
	flex: 1;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

header.with-sidenav, main.with-sidenav, footer {
	padding-left: $sidenav-width;
}

header {
	flex-shrink: 0;
	
	&.header-extended {
		height: 103px;
	}
}

nav.with-sidenav {
	width: calc(100% - 200px);
}

.sidenav__logo {
	height: $navbar-height;

	border-bottom: 1px solid #ccc;
}

nav .brand-logo {
	font-size: 1.5rem;
}

main > .content {
	height: 100%;
	padding: 16px;
}

.suppress-bottom-margin {
	margin-bottom: 0
}

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	
	& > .breadcrumbs-wrapper {
		padding-left: 16px;
	}
}

.input-field.col label {
	pointer-events: none;
}

.search-input {
	border-bottom: none !important;
	padding-left: 8px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}