html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

header, main.with-sidenav, footer {
	padding-left: $sidenav-width;
}

nav {
	width: calc(100% - 200px);
}

.sidenav__logo {
	height: $navbar-height;
}

nav .brand-logo {
	font-size: 1.5rem;
}

main > .content {
	padding: 16px;
}