html, body {
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background-color: #eef5f9;
}

main {
	flex: 1;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

header.with-sidenav, main.with-sidenav, footer {
	padding-left: $sidenav-width;
}

header {
	flex-shrink: 0;
	
	&.header-extended {
		height: 103px;
	}
}

nav.with-sidenav {
	width: calc(100% - 200px);
}

.sidenav__logo {
	height: $navbar-height;

	border-bottom: 1px solid #ccc;
}

nav .brand-logo {
	font-size: 1.5rem;
}

main > .content {
	height: 100%;
	padding: 16px;
}

.suppress-bottom-margin {
	margin-bottom: 0
}

.nav-wrapper {
	& > .breadcrumbs-wrapper {
		padding-left: 16px;
	}
}

.input-field.col label {
	pointer-events: none;
}

.search-input {
	border-bottom: none !important;
	padding-left: 8px !important;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

.theme-color {
	background-color: $primary-color !important;
}

.card {
	@extend .z-depth-0;
	
	border: 1px solid #ccc;
	
	border-radius: 5px;
}

.users-label {
	margin-bottom: 6px !important;
}

.page-title-wrapper {
	margin: 8px 0 20px;
	
	.page-title {
		line-height: 32px;
		margin: 0;
	}

	& > .back-button {
		margin-right: 4px;
		
		& > .back-icon {
			margin: 0;
			font-size: 24px;
		}
	}
}

.card .card-content .card-title {
	margin-bottom: 16px;
}

.btn:not(.btn-floating) {
	@extend .z-depth-0;

	border-radius: 5px;
}

.navbar-title {
	font-size: 1.5rem;
	color: #fff;
	display: inline-block;
	padding: 0 16px;
}

.input-field .helper-text {
	position: absolute;
	top: 90%;
}

.valign-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

abbr[title] {
	border-bottom: none;
	text-decoration: none !important;
}

.userRole {
	text-transform: capitalize;
	font-weight: bold;
}

.tabs-with-border {
	border-bottom: 1px solid #ccc;
}

.card-subtitle {
	@extend .card-title;
	
	font-size: 18px !important;
}

.span-full-card-width {
	margin-left: -24px !important;
	margin-right: -24px !important;
}

.table-of-contents-wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 15%;
}