{{> adminNavbar routeName="Pregled"}}

<main class="with-sidenav">
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="sidenav__logo">
            
        </li>
        <li class="active"><a href="/">Pregled</a></li>
        <li><a href="/projects">Projekti</a></li>
        <li><a href="/sprints">Sprinti</a></li>
        <li><a href="/backlog">Seznam zahtev</a></li>
        <li><a href="/users">Uporabniki</a></li>
    </ul>

    <div class="content">
        <p>Admin dashboard</p>
    </div>
</main>