<div class="container">
    <div class="row">
        <h3 class="row">Pozdravljeni {{currentUser.firstName}} {{currentUser.lastName}}</h3>
    </div>

    <div class="card">
        <div class="card-content">
            <p class="card-title">Aktivni sprinti</p>

            <div class="row">
                <p class="center grey-text">Trenutno nimate aktivnega Sprinta</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <p class="card-title">Vaši projekti</p>

            <div class="row">
                <p class="center grey-text">Niste dodani na noben projekt</p>
            </div>
        </div>
    </div>
</div>