<div class="valign-wrapper full-height">
    <div class="row login-container">
        <div class="row">
            <h2>Stran ni bila najdena.</h2>
        </div>

        <div class="row">
            <a href="javascript:history.back()" class="waves-effect waves-light btn red">Pojdi nazaj</a>
        </div>
    </div>
</div>
</div>