<!DOCTYPE html>
<html>
    <head>
        <title>{{layoutOptions.headTitle}}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="/stylesheets/style.css"/>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <meta charset="UTF-8">
    </head>
    <body>
        {{#if layoutOptions.navBar.show}}
            {{> navBar 
                    options=layoutOptions.navBar 
                    currentUser=currentUser
                    isSideMenuShown=layoutOptions.sideMenu.show
            }}
        {{/if}}
    
        <!-- .with-sidenav class is used when a sidenav is present on the page -->
        <!-- If you don't have the sidenav, just leave the main tag without the class -->
        <main class="{{#if layoutOptions.sideMenu.show}}with-sidenav{{/if}} {{#if layoutOptions.navBar.show}}with-navbar{{/if}}">
            {{#if layoutOptions.sideMenu.show}}
                {{> sideMenu options=layoutOptions.sideMenu}}
            {{/if}}
    
            <div class="content">
                <!-- This is where your content goes -->
    
                {{{body}}}
            </div>
        </main>
    
        <script src="/javascripts/materialize.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>
