<div class="valign-wrapper full-height">
    <div class="row login-container white-text slide-up">
        <div class="row">
            <h2>Za ogled strani nimate ustreznih pravic.</h2>
        </div>

        <div class="row">
            <a href="javascript:history.back()" class="waves-effect waves-light btn theme-color">Nazaj</a>
        </div>
    </div>
</div>
</div>