<div class="valign-wrapper full-height">
    <div class="row login-container">
            <div class="row">
                <h2>Prijava ni uspela.</h2>
                <p>Napačno uporabniško ime ali geslo.</p>
                <p>Pojdite nazaj in ponovno vpišite uporabniško ime in geslo.</p>
            </div>
    
            <div class="row">
                <a href="/login" class="waves-effect waves-light btn theme-color">Nazaj na prijavo</a>
            </div>
        </div>
    </div>
</div>