<main class="login-page-container">
    <div class="valign-wrapper full-height">
        <div class="row">
            <div class="col s12">
                <h2 class="center">Uspešno ste se prijavili!</h2>
            </div>
        </div>
    </div>
</main>

<script>
    setTimeout(() => {
        window.location = '/';
    }, 3000);
</script>