<form method="post">
    <div class="row suppress-bottom-margin">
        <div class="input-field col s12">
            <input id="name" name="name" type="text" class="validate">
            <label for="username">Ime projekta</label>
        </div>
    </div>

    <div class="fixed-action-btn">
        <button class="btn-floating btn-large green" type="submit">
            <i class="large material-icons">save</i>
        </button>
    </div>
</form>