<div class="container{{#unless projects}} full-height valign-wrapper{{/unless}}">
    {{#if projects}}
        {{#each projects}}
            <div class="row suppress-bottom-margin">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <a href="/projects/{{this._id}}" class="card-title">{{this.name}}</a>
                            <p>{{this.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h4 class="center full-width grey-text">Ni projektov.</h4>
    {{/if}}
</div>