<div class="container">
    <div class="row page-title-wrapper">
        <a href="/projects" class="btn-flat back-button left">
            <i class="material-icons left back-icon">arrow_back</i>
        </a>

        <!--!!! Spodaj popravi text?-->
        <h5 class="page-title left">Dodajanje uporabniske zgodbe</h5>
    </div>

    <div class="card">
        <div class="card-content">
            <p class="card-title">Nova uporabniska zgodba</p>

            <div class="row suppress-bottom-margin">
                <div class="input-field col s12">
                    <input id="name" name="name" type="text" class="validate" required>
                    <label for="name">Ime uporabniske zgodbe <abbr title="Obvezno polje">*</abbr></label>
                </div>
            </div>

            <div class="row suppress-bottom-margin">
                <div class="input-field col s12">
                    <input id="description" name="description" type="text" class="validate" required>
                    <label for="description">Opis <abbr title="Obvezno polje">*</abbr></label>
                </div>
            </div>

            <div class="row suppress-bottom-margin">
                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Prioriteta</option>
                        <option value="1">Must have</option>
                        <option value="2">Should have</option>
                        <option value="3">Could have</option>
                        <option value="3">Won't have this time</option>
                    </select>
                </div>
            </div>



        </div>

    </div>

</div>